body {
  font-family: "Roboto", sans-serif;
}

.profile {
  width: 300px;
  height: 400px;
  border: 1px solid;
}

.error {
  color: red;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
